.cards {
  width: 920px;
  display: grid;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
}
