@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__link/feynman__link.css);

.feynman {
  background: url(../../images/feynman.png) 0 100%/867px 637px no-repeat;
  min-height: 890px;
  text-align: center;
  position: relative;
  background-color: #f2f2f2;
}
